body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    overflow: hidden;
    font-family: "light-font";
}
  
@font-face {
    font-family: "light-font";
    src: url(./font/font.otf);
}

/* 起始正方体演示样式 */
.content-main {
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;     
    justify-content: center;
}

.main {
    perspective: none;
    width: 230px;
    height: 230px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg);
    animation: carousal 15s infinite;
}

.img {
    position: absolute;
    width: 220px;
    height: 220px;
    border: 1px solid #000;
    background-color: rgba(255, 192, 203, 0.8);
    transition: transform 2s ease;
    cursor: pointer;
    opacity: 0.7;
}

.img:nth-child(1) { transform: rotateY(0deg) translateZ(110px); background-image: url(./square-img/1.jpg); background-size: 220px 220px;} /* 前 */
.img:nth-child(2) { transform: rotateY(90deg) translateZ(110px); background-image: url(./square-img/2.jpg); background-size: 220px 220px;} /* 右 */
.img:nth-child(3) { transform: rotateY(180deg) translateZ(110px); background-image: url(./square-img/3.jpg); background-size: 220px 220px;} /* 后 */
.img:nth-child(4) { transform: rotateY(-90deg) translateZ(110px); background-image: url(./square-img/4.jpg); background-size: 220px 220px;} /* 左 */
.img:nth-child(5) { transform: rotateX(90deg) translateZ(110px); background-image: url(./square-img/5.jpg); background-size: 220px 220px;} /* 顶 */
.img:nth-child(6) { transform: rotateX(-90deg) translateZ(110px); background-image: url(./square-img/6.jpg); background-size: 220px 220px;} /* 底 */

.main:hover {
    .img:nth-child(1) { transform: rotateY(0deg) translateZ(200px); } /* 前 */
    .img:nth-child(2) { transform: rotateY(90deg) translateZ(200px); } /* 右 */
    .img:nth-child(3) { transform: rotateY(180deg) translateZ(200px); } /* 后 */
    .img:nth-child(4) { transform: rotateY(-90deg) translateZ(200px); } /* 左 */
    .img:nth-child(5) { transform: rotateX(90deg) translateZ(200px); } /* 顶 */
    .img:nth-child(6) { transform: rotateX(-90deg) translateZ(200px); } /* 底 */
}

@keyframes carousal {
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(360deg) rotateY(360deg);}
}


/* 旋转轮播图样式 */
.shell {
    position: relative;
    display: none;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: white;
    perspective: 2000px;
    transform-origin: center;
}
  
.title-main {
    position: absolute;
    top: 50px;
    color: #000;
    font-size: 25px;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.3);
 }
  
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
  
.item {
    position: absolute;
    width: 60vw;
    height: 40vw;
    max-width: 300px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-size: cover;
    -webkit-box-reflect: below 25px -webkit-linear-gradient(transparent 50%, rgba(255, 255, 255, 0.3));
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid red;
    cursor: pointer;
}

.item:nth-child(1) {
    background-image: url(./img/1.jpg);
    transform: rotateY(0) translateZ(35vw);
}
  
.item:nth-child(2) {
    background-image: url(./img/2.jpg);
    transform: rotateY(60deg) translateZ(35vw);
}
  
.item:nth-child(3) {
    background-image: url(./img/3.jpg);
    transform: rotateY(120deg) translateZ(35vw);
}
  
.item:nth-child(4) {
    background-image: url(./img/4.jpg);
    transform: rotateY(180deg) translateZ(35vw);
}
  
.item:nth-child(5) {
    background-image: url(./img/5.jpg);
    transform: rotateY(240deg) translateZ(35vw);
}
  
.item:nth-child(6) {
    background-image: url(./img/6.jpg);
    transform: rotateY(300deg) translateZ(35vw);
}
  
@keyframes carousel {
    0% {
        transform: translateZ(-35vw) rotateY(0deg);
    }
    16% {
        transform: translateZ(-35vw) rotateY(-60deg);
    }
    33% {
        transform: translateZ(-35vw) rotateY(-120deg);
    }
    50% {
        transform: translateZ(-35vw) rotateY(-180deg);
    }
    66% {
        transform: translateZ(-35vw) rotateY(-240deg);
    }
    83% {
        transform: translateZ(-35vw) rotateY(-300deg);
    }
    100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}
  
.no-animation {
    animation: none;
}
  
.button {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    cursor: pointer;
}
  
.icon-pre:hover , .icon-next:hover {
    background-color: grey;
}
  
.icon-pre:active , .icon-next:active {
    background-color: rgb(72, 72, 72);
}
  
.pre {
    transform: rotate(180deg);
    margin-left: 40px;
}

.next {
    margin-right: 40px;
}
  
.display {
    display: none;
}
  
.introduce {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    width: 45vw;
    height: 90vh;
    background-color: #90c2d0;
    border: 2px solid #000;
    border-radius: 20px;
}
  
.title {
    position: absolute;
    top: 8px;
    font-weight: bolder;
    font-size: 18px;
    color: red;
}
  
.picture {
    position: absolute;
    top: 40px;
    left: 76px;
    width: 35vw;
    height: 45vh;
    background-size: cover;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5%;
}
  
.link {
    width: 150px;
    height: 150px;
}
  
.text {
    top: 380px;
    position: absolute;
    max-width: 40vw;
    max-height: 34vh;
    color: #000;
    overflow: auto;
}
  
.cancel {
    position: absolute;
    top: 5px;
    right: 5PX;
}
  
.icon-cancel {
    height: 30px;
    width: 30px;
    fill: red;
}
  
.icon-cancel:hover {
    fill: #1ea054;
}
  
.icon-cancel:active {
    fill: #26d16d;
}
  
.item a {
    display: none;
}