html, body {
    height: 100%;
    margin: 0;
  }
  
.all {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  

.top {
    height: 50px;
    background-color: lightblue;
    text-align: center;
  }
  

.bottom {
    height: 50px;
    background-color: aqua;
  }
  

.center {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
  }
  

.left {
    width: 100px;
    background-color: lightgreen;
  }
  

.center-container {
    flex: 1;
    background-color: lightgrey;
    text-align: center;
  }
  

.right {
    width: 100px;
    background-color: lightyellow;
  }
  
@media screen and (max-width:960px){
    .right {
        display: none;
      }
}